#App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(139, 211, 244), teal);
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  color: white;
  border-radius: 5em;
  padding: 0.5em;
  margin: 0.5em;
  /* transform: rotate(-3deg) skew(-7deg); */
}

.flipped-llama {
  transform: scaleX(-1);

}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: teal;
  border-radius: 5em;
  padding: 0.5em;
  margin: 0.5em;
  border-color: teal;
  border-style: dashed;
  display: inline-block
}
img {
  height: 4em;
}

li {
  list-style-type: none;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-around; */
}

.card-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-item {
  /* border-color: black;
  border-radius: 5em;
  border-style: dashed;
  padding: 1em;
  margin: 1em; */
}

.card-item {
  background-color: lightseagreen;
  color:black;
  border-color: black;
  border-style: solid;
  border: 2px;
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 150px;
  max-width: 150px;
  font-family: 'Courier New', Courier, monospace;
  padding: 5%;
  margin: 2em;
}

.card-message {
  text-align: center;
  font-size: 1.5em;
}

#board-display {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
